<?xml version="1.0"?>
<configuration>
	<appSettings file="user.config">
		<add key="AWSAccessKey" value="youraccesskey"/>
		<add key="AWSSecretKey" value="yoursecretkey"/>
		<add key="Bucket" value="targetbucketasyoulike"/>
    <add key="Endpoint" value="ap-northeast-1"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
